<h1>Author</h1>

<%= form_tag({controller: "authors", action: "create", method: "post"}) do %>
  <%= label_tag("first name:\t") %>
  <%= text_field(:author, :first_name) %>
  <br />
  <%= label_tag("last name:\t") %>
  <%= text_field(:author, :last_name) %>
  <br />
  <%= label_tag("homepage:\t") %>
  <%= text_field(:author, :homepage) %>
  <br />
  <%= submit_tag("Submit!") %>
<% end %>